.DS_Store
NetCore.DataStructures.sln
NCDSL-test/obj/Debug/netcoreapp2.0/NCDSL-test.dll
.DS_Store
NCDSL/bin/Debug/netstandard2.0/NCDSL.deps.json
NCDSL/bin/Debug/netstandard2.0/NCDSL.dll
NCDSL/bin/Debug/netstandard2.0/NCDSL.pdb
NCDSL/obj/NCDSL.csproj.nuget.cache
NCDSL/obj/NCDSL.csproj.nuget.g.props
NCDSL/obj/NCDSL.csproj.nuget.g.targets
NCDSL/obj/project.assets.json
NCDSL/obj/Debug/netstandard2.0/NCDSL.AssemblyInfo.cs
NCDSL/obj/Debug/netstandard2.0/NCDSL.AssemblyInfoInputs.cache
NCDSL/obj/Debug/netstandard2.0/NCDSL.csproj.FileListAbsolute.txt
NCDSL/obj/Debug/netstandard2.0/NCDSL.dll
NCDSL/obj/Debug/netstandard2.0/NCDSL.pdb
NCDSL-test/bin/Debug/netcoreapp2.0/NCDSL-test.deps.json
NCDSL-test/bin/Debug/netcoreapp2.0/NCDSL-test.dll
NCDSL-test/bin/Debug/netcoreapp2.0/NCDSL-test.pdb
NCDSL-test/bin/Debug/netcoreapp2.0/NCDSL-test.runtimeconfig.dev.json
NCDSL-test/bin/Debug/netcoreapp2.0/NCDSL-test.runtimeconfig.json
NCDSL-test/bin/Debug/netcoreapp2.0/NCDSL.dll
NCDSL-test/bin/Debug/netcoreapp2.0/NCDSL.pdb
NCDSL-test/bin/Debug/netcoreapp2.0/xunit.runner.reporters.netstandard15.dll
NCDSL-test/bin/Debug/netcoreapp2.0/xunit.runner.utility.netstandard15.dll
NCDSL-test/bin/Debug/netcoreapp2.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
NCDSL-test/obj/NCDSL-test.csproj.nuget.cache
NCDSL-test/obj/NCDSL-test.csproj.nuget.g.props
NCDSL-test/obj/NCDSL-test.csproj.nuget.g.targets
NCDSL-test/obj/project.assets.json
NCDSL-test/obj/Debug/netcoreapp2.0/NCDSL-test.AssemblyInfo.cs
NCDSL-test/obj/Debug/netcoreapp2.0/NCDSL-test.AssemblyInfoInputs.cache
NCDSL-test/obj/Debug/netcoreapp2.0/NCDSL-test.csproj.CopyComplete
NCDSL-test/obj/Debug/netcoreapp2.0/NCDSL-test.csproj.CoreCompileInputs.cache
NCDSL-test/obj/Debug/netcoreapp2.0/NCDSL-test.csproj.FileListAbsolute.txt
NCDSL-test/obj/Debug/netcoreapp2.0/NCDSL-test.pdb
TourApp/bin/Debug/netcoreapp2.0/NCDSL.dll
TourApp/bin/Debug/netcoreapp2.0/NCDSL.pdb
TourApp/bin/Debug/netcoreapp2.0/TourApp.deps.json
TourApp/bin/Debug/netcoreapp2.0/TourApp.dll
TourApp/bin/Debug/netcoreapp2.0/TourApp.pdb
TourApp/bin/Debug/netcoreapp2.0/TourApp.runtimeconfig.dev.json
TourApp/bin/Debug/netcoreapp2.0/TourApp.runtimeconfig.json
TourApp/obj/project.assets.json
TourApp/obj/TourApp.csproj.nuget.cache
TourApp/obj/TourApp.csproj.nuget.g.props
TourApp/obj/TourApp.csproj.nuget.g.targets
TourApp/obj/Debug/netcoreapp2.0/TourApp.AssemblyInfo.cs
TourApp/obj/Debug/netcoreapp2.0/TourApp.AssemblyInfoInputs.cache
TourApp/obj/Debug/netcoreapp2.0/TourApp.csproj.CopyComplete
TourApp/obj/Debug/netcoreapp2.0/TourApp.csproj.CoreCompileInputs.cache
TourApp/obj/Debug/netcoreapp2.0/TourApp.csproj.FileListAbsolute.txt
TourApp/obj/Debug/netcoreapp2.0/TourApp.dll
TourApp/obj/Debug/netcoreapp2.0/TourApp.pdb
